*,
::before,
::after {
	box-sizing: border-box;
	/* 1 */
	border-width: 0;
	/* 2 */
	border-style: solid;
	/* 2 */
	border-color: #e5e7eb;
	/* 2 */
}

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.svg{
	width: 1.5rem;
	height: 1.5rem;
}
/* Barra de navegacion */

#nav-bar{
	position: fixed;
	width: 100%;
	height: 8%;
	/* background-color: #172c3c; */
	bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#list{
	width: 18rem;
	height: 4rem;
	background-color: #0b8185;
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	margin: 1rem;
	color: white;
	border-radius: 10px;
}

.list-item{
	position: relative;
	width: 25%;
	z-index: 2;
}

.button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 500;
}

.icon{
	position: relative;
	display: block;
	line-height: 3rem;
	font-size: 1.5rem;
	transition: 0.5s;
}

.text{
	position: absolute;
	background-color: #f7f7f7;
	color: #000;
	padding: 0.1rem 0.4rem ;
	border-radius: 0.7rem;
	font-weight: 400;
	font-size: 0.75rem;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(1rem);
}

.active a .icon{
	transform: translateY(-2rem);
	color: #f7f7f7;
}

.active a .text{
	transform: translateY(-4px);
	opacity: 1;
}

.indicator{
	position: absolute;
	top: -2.3rem;
	margin: 0.67rem 0rem;
	width: 4rem;
	height:4rem;
	background: #0b8185;
	border-radius: 50%;
	z-index: 1;
	transition: 0.5s;
}

.indicator::before{
	content: '';
	position: absolute;
	top: 1px;
	left: -23px;
	min-width: 30px;
	min-height: 30px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 15px 18px #0b8185;
}

.indicator::after{
	content: '';
	position: absolute;
	top: 1px;
	right: -23px;
	min-width: 30px;
	min-height: 30px;
	background: transparent;
	border-radius: 50%;
	box-shadow: -15px 18px #0b8185;
}

@media(min-width: 1024px){
	#nav-bar{
		top: 0;
		display: flex;
		width: 8%;
		height: 100%;
		padding: 0;
		display: block;
	}

	#list{
		width: 7rem;
		height: 100%;
		background-color: #0b8185;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 1rem;
		color: white;
		border-radius: 0;
		margin: 0;
	}

	.list-item{
		height: 34%;
		display: flex;
	}

	.active a .icon{
		transform: translateY(-2.5rem);
		color: #f7f7f7;
	}
	
	.active a .text{
		transform: translateY(-4px);
		opacity: 1;
	}

	.indicator{
		display: none;
	}
}